pipeline/PL_FileCount_Folder.json
{
	"name": "PL_FileCount_Folder",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText14",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'Folder')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Metadata2",
										"type": "GetMetadata",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DelimitedText15",
												"type": "DatasetReference",
												"parameters": {
													"folderName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"childItems"
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										}
									},
									{
										"name": "Filter1",
										"type": "Filter",
										"dependsOn": [
											{
												"activity": "Get Metadata2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"items": {
												"value": "@activity('Get Metadata2').output.childItems",
												"type": "Expression"
											},
											"condition": {
												"value": "@equals(1,1)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Filter1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SPFileCountInfo]",
											"storedProcedureParameters": {
												"FileCount": {
													"value": {
														"value": "@activity('Filter1').output.ItemsCount",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FolderName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "linkedService1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}