pipeline/PL_Teams_Notification.json
{
	"name": "PL_Teams_Notification",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipline Name:\",\n                    \"value\": \"@{pipeline().Pipeline}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WebHook",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamwebhookurl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('messageCard'))",
						"type": "Expression"
					},
					"timeout": "00:10:00"
				}
			}
		],
		"parameters": {
			"teamwebhookurl": {
				"type": "string",
				"defaultValue": "https://uab365.webhook.office.com/webhookb2/db66182c-a169-4c8e-b787-8c4a8d014274@d8999fe4-76af-40b3-b435-1d8977abc08c/IncomingWebhook/b97e6b4c34b145dd80caea4dd3b376a4/88308067-73ff-40c9-bad3-b74721b4b9c3"
			},
			"name": {
				"type": "string",
				"defaultValue": "Test"
			},
			"triggerTime": {
				"type": "string"
			},
			"status": {
				"type": "string",
				"defaultValue": "Testing"
			},
			"message": {
				"type": "string",
				"defaultValue": "This is executed successfully"
			},
			"subscription": {
				"type": "string",
				"defaultValue": "bbda4024-ea06-4185-96b1-42f3197df61c"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "practice"
			},
			"runId": {
				"type": "string"
			},
			"executionEndTime": {
				"type": "string"
			},
			"runDuration": {
				"type": "string"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"annotations": []
	}
}